h1, h2, h3, h4, h5, h6 {
    color: black; /* Màu chữ đen */
    margin-bottom: 20px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: center;
    border: 1px solid #dddddd;
}

thead {
    background-color: #f2f2f2;
}

th, td {
    padding: 12px 15px;
    border: 1px solid #dddddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

th {
    background-color: #4CAF50;
    color: white;
}

td {
    text-align: center;
}
