<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-admin.css">
    <link rel="stylesheet" type="text/css" href="/css/table.css">

</head>
<body>
    <div th:replace="fragments/navbar-admin :: nav"></div>

    <h2>Quản lý tài khoản người dùng</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên</th>
                <th>Email</th>
                <th>Password</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="employee : ${employees}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.name}"></td>
                <td th:text="${employee.email}"></td>
                <td th:text="${employee.password}"></td>
                <td>
                    <button th:onclick="'location.href=\'/admin/edit-account/' + ${employee.id} + '\''">Sửa</button>
                    <button th:onclick="'deleteAccount(' + ${employee.id} + ')'">Xóa</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div th:replace="fragments/footer :: footer"></div>

    <script>
        function deleteAccount(id) {
            if (confirm('Bạn có chắc chắn muốn xóa nhân viên này không?')) {
                location.href = '/admin/delete-account/' + id; // Gọi phương thức xóa
            }
        }
    </script>

</body>
</html>