<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm phòng ban</title>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-admin.css">
    <link rel="stylesheet" type="text/css" href="/css/edit-employee.css">
</head>
<body>
    <div th:replace="~{fragments/navbar-admin :: nav}"></div>

    <h2>Thêm phòng ban</h2>

    <form class="edit-form" action="/admin/add-department" method="post">
        <label>Tên phòng ban:</label>
        <input type="text" th:name="name" required/>

        <button type="submit">Tạo</button>
        <a href="/admin/department-management">Hủy</a>
    </form>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>