<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm nhân viên</title>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-admin.css">
    <link rel="stylesheet" type="text/css" href="/css/edit-employee.css">
</head>
<body>
    <div th:replace="~{fragments/navbar-admin :: nav}"></div>

    <h2>Thêm nhân viên</h2>

    <form class="edit-form" action="/admin/add-employee" method="post">
        <label>Tên nhân viên:</label>
        <input type="text" th:name="name" required/>

        <label>Email:</label>
        <input type="text" th:name="email" required/>

        <label>Nhập mật khẩu:</label>
        <input type="text" th:name="password" required/>

        <label>Phòng ban:</label>
        <select th:name="departmentId" required>
            <option th:each="dept : ${departments}"
                    th:value="${dept.id}"
                    th:text="${dept.name}">Phòng ban</option>
        </select>

        <label>Đường dẫn ảnh (gắn link vào):</label>
        <input type="text" th:name="imageUrl" required/>

        <label for="gender">Giới tính:</label>
        <select id="gender" th:name="gender" required>
            <option value="1">Nam</option>
            <option value="0">Nữ</option>
        </select>

        <label>Cấp độ (Từ 1 đến 10):</label>
        <input type="text" th:name="level" required/>

        <label>Lương:</label>
        <input type="text" th:name="salary" required/>

        <label>Số điện thoại:</label>
        <input type="text" th:name="phoneNumber" required/>

        <label for="dateOfBirth">Ngày sinh:</label>
        <input type="date" id="dateOfBirth" th:name="dOB" required />

        <label>Lưu ý:</label>
        <input type="text" th:name="note" required/>

        <button type="submit">Tạo</button>
        <a href="/admin/employee-management">Hủy</a>
    </form>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>