<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:if="${type == 'Department'}" th:text="#{header.add-department}">Thêm phòng ban</title>
    <title th:if="${type == 'Employee'}" th:text="#{header.add-employee}">Thêm nhân viên</title>
    <title th:if="${type == 'Employee-achievement'}" th:text="#{message.add-achievement}">Ghi nhận thành tích/kỷ luật</title>

    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-admin.css">
    <link rel="stylesheet" type="text/css" href="/css/edit-employee.css">
</head>
<body>
    <div th:replace="~{fragments/navbar-admin :: nav}"></div>

    <h2 th:if="${type == 'Department'}" th:text="#{header.add-department}">Thêm phòng ban</h2>
    <h2 th:if="${type == 'Employee'}" th:text="#{header.add-employee}">Thêm nhân viên</h2>
    <h2 th:if="${type == 'Employee-achievement'}" th:text="#{message.add-achievement}">Ghi nhận thành tích/kỷ luật cho nhân viên</h2>

    <form th:if="${type == 'Department'}" class="edit-form" action="/admin/add-department" method="post">
        <label th:text="#{table.department-name}">Tên phòng ban:</label>
        <input type="text" th:name="name" required/>

        <button type="submit" th:text="#{table.button.add}">Tạo</button>
        <a href="/admin/department-management" th:text="#{table.edit.cancel}">Hủy</a>
    </form>

    <form th:if="${type == 'Employee'}" class="edit-form" action="/admin/add-employee" method="post">
        <label th:text="#{table.employee-name}">Tên nhân viên:</label>
        <input type="text" th:name="name" required/>

        <label>Email:</label>
        <input type="text" th:name="email" required/>

        <label th:text="#{table.password}">Nhập mật khẩu:</label>
        <input type="text" th:name="password" required/>

        <label th:text="#{table.department-name}">Phòng ban:</label>
        <select th:name="departmentId" required>
            <option th:each="dept : ${departments}"
                    th:value="${dept.id}"
                    th:text="${dept.name}">Phòng ban</option>
        </select>

        <label th:text="#{table.image}">Đường dẫn ảnh (gắn link vào):</label>
        <input type="text" th:name="imageUrl" required/>

        <label for="gender" th:text="#{table.gender}">Giới tính:</label>
        <select id="gender" th:name="gender" required>
            <option value="1" th:text="#{table.gender.male}">Nam</option>
            <option value="0" th:text="#{table.gender.female}">Nữ</option>
        </select>

        <label th:text="#{table.edit.level}">Cấp độ (Từ 1 đến 10):</label>
        <input type="text" th:name="level" required/>

        <label th:text="#{table.salary}">Lương:</label>
        <input type="text" th:name="salary" required/>

        <label th:text="#{table.phone-number}">Số điện thoại:</label>
        <input type="text" th:name="phoneNumber" required/>

        <label for="dateOfBirth" th:text="#{table.date-of-birth}">Ngày sinh:</label>
        <input type="date" id="dateOfBirth" th:name="dOB" required />

        <label th:text="#{table.note}">Lưu ý:</label>
        <input type="text" th:name="note" required/>

        <button type="submit" th:text="#{table.button.add}">Tạo</button>
        <a href="/admin/employee-management" th:text="#{table.edit.cancel}">Hủy</a>
    </form>

    <form th:if="${type == 'Employee-achievement'}" class="edit-form" action="/admin/add-achievement" method="post">
        <label th:text="#{table.employee-name}">Nhân viên:</label>
        <select th:name="employeeId" required>
            <option th:each="employee : ${employees}"
                    th:value="${employee.id}"
                    th:text="${employee.id} + ' - ' + ${employee.name} +
                    (${employee.department != null} ? ' - ' + ${employee.department.name} : '')">
        </select>

        <label for="type_achivement" th:text="#{table.type}">Loại:</label>
        <select id="type_achivement" th:name="type" required>
            <option value="1" th:text="#{table.achieve}">Thành tích</option>
            <option value="0" th:text="#{table.discip}">Kỷ luật</option>
        </select>

        <label th:text="#{table.reason}">Lý do:</label>
        <input type="text" th:name="reason" required/>

        <label for="dateOfRecognition" th:text="#{table.daterecog}">Ngày ghi nhận:</label>
        <input type="date" id="dateOfRecognition" th:name="date" required />

        <button type="submit" th:text="#{table.button.add}">Tạo</button>
        <a href="/admin/employee-management" th:text="#{table.edit.cancel}">Hủy</a>
    </form>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>