<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-admin.css">

</head>
<body>
    <div th:replace="fragments/navbar-admin :: nav"></div>

    <h1>Danh sách những gương mặt tiêu biểu</h1>

    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>
