<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sửa thông tin phòng ban</title>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-admin.css">
    <link rel="stylesheet" type="text/css" href="/css/edit-employee.css">
</head>
<body>
    <div th:replace="fragments/navbar-admin :: nav"></div>

    <h2>Sửa thông tin phòng ban</h2>

    <form class="edit-form" action="/admin/edit-department" method="post">
        <input type="hidden" th:name="id" th:value="${department.id}"/>
        <label>Tên phòng ban:</label>
        <input type="text" th:name="name" th:value="${department.name}" required/>

        <button type="submit">Lưu</button>
        <a href="/admin/department-management">Hủy</a>
    </form>

    <div th:replace="fragments/footer :: footer"></div>

</body>
</html>