<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:if="${type == 'Department'}" th:text="#{message.department-edit}">Sửa thông tin phòng ban</title>
    <title th:if="${type == 'Employee'}" th:text="#{message.employee-edit}">Sửa thông tin nhân viên</title>
    <title th:if="${type == 'Account'}" th:text="#{message.account-edit}">Sửa thông tin tài khoản</title>

    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-admin.css">
    <link rel="stylesheet" type="text/css" href="/css/edit-employee.css">
</head>
<body>
    <div th:replace="~{fragments/navbar-admin :: nav}"></div>

    <h2 th:if="${type == 'Department'}" th:text="#{message.department-edit}">Sửa thông tin phòng ban</h2>
    <h2 th:if="${type == 'Employee'}" th:text="#{message.employee-edit}">Sửa thông tin nhân viên</h2>
    <h2 th:if="${type == 'Account'}" th:text="#{message.account-edit}">Sửa thông tin tài khoản</h2>

    <form th:if="${type == 'Department'}" th:object="${department}" class="edit-form" action="/admin/edit-department" method="post">
        <input type="hidden" th:name="id" th:field="*{id}"/>
        <label th:text="#{table.department-name}">Tên phòng ban:</label>
        <input type="text" th:name="name" th:field="*{name}" required/>

        <button type="submit" th:text="#{table.button.save}">Lưu</button>
        <a href="/admin/department-management" th:text="#{table.edit.cancel}">Hủy</a>
    </form>

    <form th:if="${type == 'Employee'}" th:object="${employee}" class="edit-form" action="/admin/edit-employee" method="post">
        <input type="hidden" th:name="id" th:field="*{id}"/>
        <label th:text="#{table.employee-name}">Tên:</label>
        <input type="text" th:name="name" th:field="*{name}" required/>

        <label th:text="#{table.department-name}">Phòng ban:</label>
        <select th:name="departmentId" required>
            <option th:each="dept : ${departments}"
                    th:value="${dept.id}"
                    th:text="${dept.name}"
                    th:selected="${dept.id == employee.departmentId}">
        </select>

        <label th:text="#{table.edit.level}">Cấp độ (Từ 1 đến 10):</label>
        <input type="text" th:name="level" th:field="*{level}" required/>

        <label th:text="#{table.phone-number}">Số điện thoại:</label>
        <input type="text" th:name="phoneNumber" th:field="*{phoneNumber}" required/>

        <label th:text="#{table.salary}">Lương:</label>
        <input type="text" th:name="salary" th:field="*{salary}" required/>

        <button type="submit" th:text="#{table.button.save}">Lưu</button>
        <a href="/admin/employee-management" th:text="#{table.edit.cancel}">Hủy</a>
    </form>

    <form th:if="${type == 'Account'}" th:object="${employee}" class="edit-form" action="/admin/edit-account" method="post">
        <input type="hidden" th:name="id" th:field="*{id}"/>
        <label th:text="#{table.account-name}">Tên:</label>
        <input type="text" th:name="name" th:field="*{name}" required/>


        <label>Email:</label>
        <input type="email" th:name="email" th:field="*{email}" required/>

        <label th:text="#{table.password}">Password:</label>
        <input type="text" th:name="password" th:field="*{password}" required/>

        <button type="submit" th:text="#{table.button.save}">Lưu</button>
        <a href="/admin/account-management" th:text="#{table.edit.cancel}">Hủy</a>
    </form>

    <div th:if="${error != null}">
        <p th:text="${error}" style="color: red; font-weight: bold; border: 1px solid red; padding: 10px; background-color: #f8d7da; border-radius: 5px;">
        </p>
    </div>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>