<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sửa thông tin nhân viên</title>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-admin.css">
    <link rel="stylesheet" type="text/css" href="/css/edit-employee.css">
</head>
<body>
    <div th:replace="~{fragments/navbar-admin :: nav}"></div>

    <h2>Sửa thông tin nhân viên</h2>

    <form class="edit-form" action="/admin/edit-employee" method="post">
        <input type="hidden" th:name="id" th:value="${employee.id}"/>
        <label>Tên:</label>
        <input type="text" th:name="name" th:value="${employee.name}" required/>

        <label>Phòng ban:</label>
        <select th:name="departmentId" required>
            <option th:each="dept : ${departments}"
                    th:value="${dept.id}"
                    th:text="${dept.name}"
                    th:selected="${dept.id == employee.departmentId}">
        </select>

        <label>Cấp độ (Từ 1 đến 10):</label>
        <input type="text" th:name="level" th:value="${employee.level}" required/>

        <label>Số điện thoại:</label>
        <input type="text" th:name="phoneNumber" th:value="${employee.phoneNumber}" required/>

        <label>Lương:</label>
        <input type="text" th:name="salary" th:value="${employee.salary}" required/>

        <button type="submit">Lưu</button>
        <a href="/admin/employee-management">Hủy</a>
    </form>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>