<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thành tích nhân viên</title>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-admin.css">
    <link rel="stylesheet" type="text/css" href="/css/table.css">
</head>
<body>
    <div th:replace="~{fragments/navbar-admin :: nav}"></div>

    <h2>Tổng hợp thành tích các cá nhân</h2>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nhân viên</th>
            <th>Tổng thành tích</th>
            <th>Tổng kỷ luật</th>
            <th>Điểm thưởng</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="achievement,idx : ${listAchievements}">
            <td th:text="${idx.count}"></td>
            <td th:text="${achievement.name}"></td>
            <td th:text="${achievement.totalAchievements}"></td>
            <td th:text="${achievement.totalDisciplinary}"></td>
            <td th:text="${achievement.rewardPoints}"></td>
        </tr>
        </tbody>
    </table>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>