<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{message.account-edit}">Sửa thông tin tài khoản</title>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-admin.css">
    <link rel="stylesheet" type="text/css" href="/css/edit-employee.css">
</head>
<body>
    <div th:replace="~{fragments/navbar-admin :: nav}"></div>

    <h2 th:text="#{message.account-edit}">Sửa thông tin tài khoản</h2>

    <div id="toast-error" style="color: red; text-align: center; font-size: 16px; margin: 20px 0;">
        <span th:text="${errorMessage}"></span>
    </div>

    <form th:object="${employee}" class="edit-form" action="/admin/edit-account" method="post">
        <input type="hidden" th:field="*{id}"/>

        <label th:text="#{table.account-name}">Tên:</label>
        <input type="text" th:field="*{name}" required/>


        <label>Email:</label>
        <input type="email" th:field="*{email}" required/>

        <label th:text="#{table.password}">Password:</label>
        <input type="text" th:field="*{password}" required/>

        <button type="submit" th:text="#{table.button.save}">Lưu</button>
        <a href="/admin/account-management" th:text="#{table.edit.cancel}">Hủy</a>
    </form>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <script>
        window.onload = function () {
            setTimeout(function () {
                var toastElement = document.getElementById("toast-error");
                console.log(toastElement)
                if (toastElement) {
                    toastElement.style.display = "none";
                }
            }, 3000);
        };
    </script>
</body>
</html>