<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{message.account-edit}">Sửa thông tin tài khoản</title>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-admin.css">
    <link rel="stylesheet" type="text/css" href="/css/edit-employee.css">
</head>
<body>
    <div th:replace="~{fragments/navbar-admin :: nav}"></div>

    <h2 th:text="#{message.account-edit}">Sửa thông tin tài khoản</h2>

    <form th:object="${employee}" class="edit-form" action="/admin/edit-account" method="post">
        <input type="hidden" th:name="id" th:field="*{id}"/>

        <label th:text="#{table.account-name}">Tên:</label>
        <input type="text" th:name="name" th:field="*{name}" required/>


        <label>Email:</label>
        <input type="email" th:name="email" th:field="*{email}" required/>

        <label th:text="#{table.password}">Password:</label>
        <input type="text" th:name="password" th:field="*{password}" required/>

        <button type="submit" th:text="#{table.button.save}">Lưu</button>
        <a href="/admin/account-management" th:text="#{table.edit.cancel}">Hủy</a>
    </form>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>