<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Home</title>
    <link rel="stylesheet" type="text/css" href="/css/navbar-admin.css">
    <link rel="stylesheet" type="text/css" href="/css/table.css">
    <link rel="stylesheet" type="text/css" href="/css/footer.css">

</head>
<body>
    <a th:href="@{/user/logout}" th:text="#{header.logout}">Đăng xuất</a>
    <h1 th:text="#{message.excellent-employee}">10 gương mặt xuất sắc nhất công ty</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th th:text="#{table.employee-name}">Nhân viên</th>
            <th th:text="#{table.image}">Ảnh</th>
            <th th:text="#{table.department-name}">Tên phòng ban</th>
            <th th:text="#{table.number-of-achievement}">Số thành tích</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="excellentEmployee,idx : ${excellentEmployees}">
            <td th:text="${idx.count}"></td>
            <td th:text="${excellentEmployee.name}"></td>
            <td>
                <img th:src="${excellentEmployee.imageUrl}"
                     alt="Ảnh thẻ"
                     style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover;">
            </td>
            <td th:text="${excellentEmployee.nameOfDept}"></td>
            <td th:text="${excellentEmployee.totalAchievements}"></td>
        </tr>
        </tbody>
    </table>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
