<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{message.employee-edit}">Sửa thông tin nhân viên</title>

    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-admin.css">
    <link rel="stylesheet" type="text/css" href="/css/edit-employee.css">
    <style>
        #preview-image {
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 50%;
            display: block;
            margin-top: 10px;
            margin-bottom:30px;
        }
    </style>
</head>
<body>
    <div th:replace="~{fragments/navbar-admin :: nav}"></div>

    <h2 th:text="#{message.employee-edit}">Sửa thông tin nhân viên</h2>

    <form th:object="${employee}" class="edit-form" action="/admin/edit-employee" method="post" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>

        <label th:text="#{table.employee-name}">Tên:</label>
        <input type="text" th:field="*{name}" required/>

        <label for="image-file">Ảnh:</label>
        <img id="preview-image"
             th:src="@{/admin/employees/files/{filename}(filename=${employee.imageUrl})}"
             class="avatar"
             alt="Ảnh thẻ"/>
        <input type="file" id="image-file" th:name="image-file" accept="image/*" onchange="previewImage(event)"/>

        <label th:text="#{table.department-name}">Phòng ban:</label>
        <select th:name="departmentId" required>
            <option th:each="dept : ${departments}"
                    th:value="${dept.id}"
                    th:text="${dept.name}"
                    th:selected="${dept.id == employee.departmentId}">
        </select>

        <label th:text="#{table.edit.level}">Cấp độ (Từ 1 đến 10):</label>
        <input type="text" th:field="*{level}" required/>

        <label th:text="#{table.phone-number}">Số điện thoại:</label>
        <input type="text" th:field="*{phoneNumber}" required/>

        <label th:text="#{table.date-of-birth}">Ngày sinh:</label>
        <input type="date" th:name="dOB" th:value="*{dOB}">

        <label th:text="#{table.salary}">Lương:</label>
        <input type="text" th:field="*{salary}" required/>

        <button type="submit" th:text="#{table.button.save}">Lưu</button>
        <a href="/admin/employee-management" th:text="#{table.edit.cancel}">Hủy</a>
    </form>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <script>
        function previewImage(event) {
            const imagePreview = document.getElementById('imagePreview');

            if (event.target.files && event.target.files[0]) {
                const reader = new FileReader();

                reader.onload = function(e) {
                    imagePreview.src = e.target.result;
                };

                reader.readAsDataURL(event.target.files[0]);
            }
        }
    </script>
</body>
</html>