<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Home</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<!--<div th:replace="fragments/header :: header"></div>-->

<nav>
    <ul>
        <li><a href="/home">Trang chủ</a></li>
        <li><a href="/employee-management">Quản lý nhân viên</a></li>
        <li><a href="/department-management">Quản lý phòng ban</a></li>
        <li><a href="/account-management">Quản lý tài khoản</a></li>
        <li><a href="/achievement-records">Ghi nhận thành tích</a></li>
        <li><a href="/logout">Đăng xuất</a></li>
    </ul>
</nav>

<h1>Chào mừng bạn đến với trang admin!</h1>

<!--<div th:replace="fragments/footer :: footer"></div>-->
</body>
</html>
