<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-admin.css">
</head>
<body>
    <div th:replace="~{fragments/navbar-admin :: nav}"></div>
    <div th:if="${error != null}">
        <p th:text="${error}" style="color: red; font-weight: bold; border: 1px solid red; padding: 10px; background-color: #f8d7da; border-radius: 5px;">
        </p>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>