<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{header.add-department}">Thêm phòng ban</title>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar-admin.css">
    <link rel="stylesheet" type="text/css" href="/css/edit-employee.css">
</head>
<body>
    <div th:replace="~{fragments/navbar-admin :: nav}"></div>

    <h2 th:text="#{header.add-department}">Thêm phòng ban</h2>

    <div id="toast-error" class="color: red; text-align: center; font-size: 16px; margin: 20px 0;">
        <span th:text="${errorMessage}"></span>
    </div>

    <form class="edit-form" action="/admin/add-department" method="post">
        <label th:text="#{table.department-name}">Tên phòng ban:</label>
        <input type="text" th:name="name" required/>

        <button type="submit" th:text="#{table.button.add}">Tạo</button>
        <a href="/admin/department-management" th:text="#{table.edit.cancel}">Hủy</a>
    </form>

    <div th:replace="~{fragments/footer :: footer}"></div>

    <script>
        window.onload = function () {
            setTimeout(function () {
                var toastElement = document.getElementById("toast-error");
                console.log(toastElement)
                if (toastElement) {
                    toastElement.style.display = "none";
                }
            }, 3000);
        };
    </script>
</body>
</html>