<tbody>
<tr th:each="employee,idx : ${employees}">
    <td th:text="${idx.count}"></td>
    <td>
        <img th:src="${employee.imageUrl}"
             alt="Ảnh thẻ"
             style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover;">
    </td>
    <td th:text="${employee.name}"></td>
    <td th:text="${#temporals.format(employee.dOB, 'dd/MM/yyyy')}"></td>
    <td th:text="${employee.departmentId != null ? employee.department.name : ''}"></td>
    <td th:text="${employee.level}"></td>
    <td th:text="${employee.phoneNumber}"></td>
    <td th:text="${employee.salary}"></td>
    <td th:if="${employee.role.name() == 'USER'}">
        <button th:onclick="|location.href='/admin/edit-employee/' + ${employee.id}|">Sửa</button>
        <button th:onclick="'deleteEmployee(' + ${employee.id} + ')'">Xóa</button>
    </td>
</tr>
</tbody>
