<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<nav class="admin-nav">
    <ul>
        <li><a href="/admin/adminHome">Trang chủ</a></li>
        <li><a href="/admin/employee-management">Quản lý nhân viên</a></li>
        <li><a href="/admin/department-management">Quản lý phòng ban</a></li>
        <li><a href="/admin/account-management">Quản lý tài khoản</a></li>
        <li><a href="/admin/achievement-records">Ghi nhận thành tích</a></li>
        <li><a href="/admin/logout">Đăng xuất</a></li>
    </ul>
</nav>
</body>
</html>
