<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <nav class="admin-nav">
        <ul>
            <li><a th:href="@{/admin/adminHome}">Trang chủ</a></li>
            <li><a th:href="@{/admin/employee-management}">Quản lý nhân viên</a></li>
            <li><a th:href="@{/admin/department-management}">Quản lý phòng ban</a></li>
            <li><a th:href="@{/admin/account-management}">Quản lý tài khoản</a></li>
            <li class="dropdown">
                <span>Quản lý thành tích</span>
                <div class="sub-menu">
                    <a th:href="@{/admin/create-achievement}">Tạo mới thành tích</a>
                    <a th:href="@{/admin/view-people-achievements}">Xem tổng hợp thành tích cá nhân</a>
                    <a th:href="@{/admin/view-departments-achievements}">Xem tổng hợp thành tích của phòng</a>
                </div>
            </li>
            <li><a th:href="@{/admin/logout}">Đăng xuất</a></li>
        </ul>
    </nav>
</body>
</html>
